.header {
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #000;
  padding-left: 1rem !important;
}

.items-center {
  align-items: center !important;
}

.logo {
  margin-right: 1rem;
  padding: .5rem;
}

.logo>img {
  width: auto;
  max-height: 2rem;
}

.ml-auto, .after-ml-auto::after, .before-ml-auto::before {
  margin-left: auto !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: .25rem;
  transition: all 300ms ease;
  margin: .75rem;
  opacity: .5;
  color: #C2BDF6;
}

.link-button:hover {
  opacity: 1;
  color: #C2BDF6;
}

.link-button:hover, .link-button:focus {
  text-decoration: none;
}

a.menu-items{
  margin-left: .75rem;
  margin-right: .75rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-decoration: none;
  font-size: .9rem;
  color: #5A4FCF;
}
a.menu-items:hover {
  text-decoration: none;
  color: #5A4FCF;
}

a.menu-items.active {
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  .md-flex {
    display: flex !important;
  }
  .md-flex-row {
    flex-direction: row !important;
  }
  .md-hidden {
    display: none !important;
  }
  .md-justify-end {
    justify-content: flex-end !important;
  }
}

@media (min-width: 576px) {
  .sm-w-100pc {
    width: 100% !important;
  }
}